* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main {
    width: 92%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.search {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search > h1 {
    font-size: 36px;
    margin-bottom: 2px;
}

.search > p {
    letter-spacing: 3px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
}

.countries {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.countries-heading {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding-top: 20px;
}

.countries-query {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 7px 0px 30px 0px;
    letter-spacing: 3px;
}

.country-entry {
    width: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
    background-color: #f3f3f3;
    border-radius: 3px;
}

.country-flag {
    width: 50%;
    margin-bottom: 10px;
}

.country-flag > img {
    width: 100%;
    height: 41px;
    object-fit: cover;
}

.country-name {
    text-align: center;
    padding: 9px 8px 10px 8px;
}

.selected-country {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-title {
    padding: 22px 0px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.card {
    width: 46%;
    margin-bottom: 25px;
    background-color: #f6f6f6;
    border-radius: 3px;
}

.card-label {
    padding: 14px 0px 8px 20px;
    font-size: 16px;
    color: #005288;
}

.card-value {
    padding: 0px 20px 20px 20px;
    font-size: 20px;
}

.card-figure {
    width: calc(100% - 40px);
    height: inherit;
    margin: 0 auto 20px auto;
}

.card-image {
    width: 100%;
    height: auto;
}

.population, .density, .advice {
    width: 100%;
}

.advice {
    background-color: #ebebeb;
}

.advice > p {
    font-size: 18px;
}

.advice > h3 {
    font-size: 20px;
}

.logo {
    width: 90%;
}

.logo > img {
    width: 100%;
    height: auto;
}

.input {
    padding: 8px;
    font-size: 16px;
}

.news {
    display: flex;
    flex-direction: column;
}

.news-header {
    font-size: 40px;
    padding: 20px 0px 15px 0;
    text-transform: uppercase;
    line-height: 42px;
}

.news-subheader {
    font-size: 18px;
    padding-bottom: 35px;
    font-weight: bold;
}

.news-content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}

.news-link {
    text-decoration: none;
}

.news-article {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 210px;
}

.news-article-title {
    color: white;
    padding: 0px 15px 10px 15px;
    font-size: 20px;
}

.news-article-byline {
    color: white;
    padding: 0px 15px 20px 15px;
    font-size: 12px;
}

.news-article-author {
    padding-right: 5px;
}

.btn {
    background-color: #0F1112;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.hide {
    display: none;
    z-index: -1;
}

.no-bg {
    background: white;
}

.search-again {
    width: 100%;
    font-size: 22px;
    letter-spacing: 1px; 
    padding: 20px 0px;
    background-color: #231F20;
    border: none; 
    cursor: pointer;
    color: white;
    text-align: center;
    margin: 25px 0;
}

.error {
    padding: 20px 10px;
    font-size: 20px;
}